.container {
  width: 100%;
  padding: 16px;
  margin: auto;
}

.urlContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  width: 100%;
  padding-bottom: 1rem;
}

.input {
  flex-basis: 70%;
  flex-grow: 1;
}

.button {
  flex-basis: 25%;
  flex-grow: 1;
}
