@import '@/styles/constants';

.imgWrapper {
  display: flex;
  justify-content: center;
  max-width: 96rem;
  padding: 0 5rem 5rem;
  margin: 0 auto;
}

.welcomeSectionImg {
  width: 100%;
  height: auto;
}

@media (max-width: $tablet) {
  .imgWrapper {
    padding: 0 1rem 1rem;
  }
}

@media (max-width: $tablet-540-width) {
  .imgWrapper {
    display: none;
  }
}
