$wide-screen: 1800px;
$big-laptop: 1400px;
$laptop: 1024px;
$tablet: 768px;
$tablet-540-width: 540px;
$mobile: 380px;
$main-color: #4e98ff;
$header-color: radial-gradient(
  267.72% 139.47% at 0% 2.78%,
  rgb(255 255 255 / 60%) 0%,
  rgb(255 255 255 / 0%) 100%
);
