.container {
  width: 100%;
  height: 68vh;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.editor {
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  overflow: auto;
  resize: none;
  border: none;
  outline: none;
}
