.courseWrapper {
  padding: 4rem 2rem;
  background-color: #ffffff;
  background-image: url('../../../assets/svg/white-background.svg');
}

.courseHeading.mainHeading {
  margin-bottom: 0;
  font-size: 3rem;
  color: black;
  text-align: center;
}

.courseHeading.subHeading {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.link {
  transition: 0.3s all;
}

.link:hover {
  opacity: 0.5;
}
