@import '@/styles/constants';

.welcomeSection {
  display: flex;
  flex-direction: column;
  max-width: 96rem;
  text-align: left;
  background-color: #4e98ff;
  background-image: url('@/assets/svg/blue-background.svg');
}
