@import '@/styles/constants';

.topWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 96rem;
  height: calc(100vh - 4rem);
  padding: 4rem 2rem 0;
  margin: 0 auto;
  white-space: normal;
}

.topWrapperFlex {
  justify-content: space-between;
}

.welcomeHeading.mainHeading {
  margin: 0;
  font-size: 4.5rem;
  color: white;
  text-align: left;
}

.welcomeHeading.secondMainHeading {
  margin-bottom: 3rem;
  font-size: 4.5rem;
  color: #0046b8;
  text-align: left;
}

.welcomeHeading.subHeading {
  font-size: 1.625rem;
  color: white;
  text-align: left;
}

#linkBtnWrapper {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

#signInLinkBtn,
#mainPageLinkBtn {
  display: flex;
  height: 5rem;
  padding: 0;
  font-size: 2.5rem;
  color: #0046b8;
  text-align: center;
  white-space: normal;
}

#signInLinkBtn:hover,
#mainPageLinkBtn:hover {
  color: #dceefe;
}

@media (max-width: $laptop) {
  .topWrapper {
    padding: 3.5rem 1.5rem 0;
  }

  .welcomeHeading.mainHeading,
  .welcomeHeading.secondMainHeading {
    font-size: calc(5vw + 16px);
  }

  .welcomeHeading.secondMainHeading {
    margin-bottom: 2rem;
  }

  .subHeadingWrapper {
    text-align: center;
  }

  #signInLinkBtn,
  #mainPageLinkBtn {
    height: 4.5rem;
    padding: 0.5rem;
    font-size: calc(3vw + 5px);
  }
}

@media (max-width: $tablet) {
  .topWrapper {
    padding: 3rem 1rem 0;
  }

  .welcomeHeading.mainHeading,
  .welcomeHeading.secondMainHeading {
    font-size: calc(4vw + 16px);
  }

  .welcomeHeading.subHeading {
    font-size: calc(2vw + 10px);
  }

  #signInLinkBtn,
  #mainPageLinkBtn {
    font-size: calc(3vw + 5px);
  }
}

@media (max-width: $tablet-540-width) {
  .topWrapper {
    padding: 3rem 0.5rem 0;
  }

  .welcomeHeading.mainHeading,
  .welcomeHeading.secondMainHeading {
    font-size: calc(3vw + 16px);
  }

  #signInLinkBtn,
  #mainPageLinkBtn {
    max-width: 19rem;
    margin-bottom: 3rem;
    font-size: calc(2vw + 17px);
    white-space: normal;
  }
}

@media (max-width: $mobile) {
  .topWrapper {
    height: 90vh;
  }
}

@media (min-width: $big-laptop) {
  #signInLinkBtn,
  #mainPageLinkBtn {
    font-size: 3.5rem;
  }

  @media (min-width: $wide-screen) {
    .topWrapper {
      padding: 4rem 2rem 2rem;
    }

    #signInLinkBtn,
    #mainPageLinkBtn {
      margin-bottom: 1rem;
      font-size: 5rem;
    }
  }
}
