.signUp {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #ffffff6d;
  background-image: url('@/assets/svg/white-background-opacity0.03.svg');
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.submit {
  margin-top: 2rem;
  text-align: center;
}

.paragraph {
  margin-top: 0.3rem;
}
