.signUp {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.submit {
  margin-top: 2rem;
  text-align: center;
}
